@import "tailwindcss";

@theme {
  --color-warm-ivory: #faf9f6;
  --color-light-sand: #f5f3ef;
  --color-soft-stone: #ece9e4;
  --color-off-white: #fdfdfd;
  --color-forest-green: #2c5530;
  --color-sage-green: #839788;
  --color-emerald: #10b981;
  --color-muted-red: #d97777;
  --color-muted-indigo: #5c6b9c;
  
  --font-sans: var(--font-inter), sans-serif;
  
  --radius-premium: 20px;
  
  --shadow-soft: 0 4px 20px -2px rgba(0, 0, 0, 0.05);
  --shadow-hover: 0 12px 30px -4px rgba(0, 0, 0, 0.08);
}
